/*body{
	background: url(../imgs/thunder.png)no-repeat center center;
}*/
div.logo{
	background: url(../imgs/thunder.png)no-repeat center center;
	background-size: 70%;
	height: 100px;
	margin: 5px auto;
	width: 100px;
	-webkit-filter: invert(100%);
}

div.register{
	height: 50px;
	margin: 5px auto;
	width: 100px;
}

h1.title{
	text-align: center;
}
form input{
	margin-bottom: 10px;
}